@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService StorageService
@using courtesynotes.Components

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a class="login-modal oi-account-login" @onclick="() => OpenLoginModal()">Login</a>
            <a class="register-modal oi-account-login" @onclick="() => OpenRegisterModal()">Register</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code {
    [CascadingParameter] private IModalService Modal { get; set; }
    [CascadingParameter]  BlazoredModalInstance ModalInstance { get; set; }
    private async Task OpenLoginModal()
    {
        Modal.Show<LoginComponent>("Login");
    }
    private async Task OpenRegisterModal()
    {
        Modal.Show<RegisterComponent>("Register");
    }
}