@page "/dashboard"
@inherits DashboardBase
@using courtesynotes.Models

<h3>Dashboard</h3>

@if (SessionModel.Authorized == false)
{
    <h1>You need to be logged in to view this page.</h1>
}
else if (SessionModel.Authorized == true)
{
    @SessionEmail
    <button @onclick="() => AddCourse()">Add course</button>
    <h1>Your courses</h1>
    @foreach (var course in Courses)
    {
        <h3>@course</h3>
    }
}
