@using courtesynotes.Models
@using courtesynotes.Data
@inject NavigationManager NavManager

<EditForm Model="user" OnValidSubmit="HandleValidSubmit" class="userForm-modal">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>
    <label for="inputEmail">Email</label>
    <input type="text" @bind-value="user.Email" id="inputEmail" />
    <label for="inputPassword">Password</label>
    <input type="password" @bind-value="user.Password" />
    <button type="submit" class="login-button">Login</button>
    <p class="lead register-prompt">Don't have an account? Register <a href="" @onclick="ShowRegisterModal">here</a> to get started!</p>
</EditForm>

@code {
    private UserModel user = new();
    private string status;
    private UserHandelingService UserHandelingService = new();
    [CascadingParameter] private IModalService Modal { get; set; }
    [CascadingParameter] private BlazoredModalInstance ModalInstance { get; set; }
    private async Task HandleValidSubmit()
    {
        var login = await UserHandelingService.LoginUser(user.Email, user.Password);
        if (login == false)
        {
            status = "Correct credentials";
        }
        else if (login == true)
        {
            @*NavManager.NavigateTo("/");*@
        }
    }
    private async Task ShowRegisterModal()
    {
        await ModalInstance.CloseAsync();
        Modal.Show<RegisterComponent>("Register an account");
    }
}
